@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="text-align:center; font-weight:bold;">
    XÁC NHẬN ĐƠN HÀNG</h2>
<h4 style="text-align:center; font-weight:bold; color:dodgerblue">Đơn hàng của quý khách đã được chúng tôi ghi nhận, 
    chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</h4>
<p style="text-align:right; color:aliceblue; font-weight:bold; padding-right:20px;">
    <a href="@Url.Action("Index", "SachOnline")">VỀ TRANG CHỦ</a>
</p>