@{ ViewBag.Title = "TRANG ADMIN";
    Layout = "~/Areas/Admin/Views/Shared/__LayoutAdmin.cshtml";
    <h2 style="text-align:center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">QUẢN TRỊ SACHONLINE</h2>
}
