@{

    Layout = "";
}
<footer class="container well">
    <p class="khang">2021- Nhà sách ABC Allright Reserved</p>
    <p class="khang">Website được phát triển để sử đụng làm bài tập thực hành môn lập Trình Web</p>
    <p class="khang">Email:khang@gmail.com</p>
</footer>
