@model IEnumerable<NguyenDoHoangKhang.Models.SACH>

<<h2 class="text-center">SÁCH THEO NHÀ XUẤT BẢN</h2>
<hr>
<div class="row text-center">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Images/@sach.AnhBia" alt="Thumbnail Image 1" class="imgresponsive img-rounded imgbook" style="width:400px;">
                <div class="caption">
                    <h4 style="min-height:50px;">
                        <a href="@Url.Action("BookDetail","SachOnline", new { id =sach.MaSach})">@sach.TenSach</a>
                    </h4>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            <span class="glyphicon glyphicon-shopping-cart" ariahidden="true"></span> Add to Cart
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>